<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
    <div class="my-auto">
        <h2 class="mb-5"> Personal Output </h2>
        <h3>Column / Research / Technical Notes</h3>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href=""
                    target="_blank">
                    【Research - imToken Labs】Account Abstraction in Layer2 - StarkNet (Writing)
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;" href="https://medium.com/imtoken/account-abstraction-介紹-一-以太坊的帳戶現況-6c03c303f229" target="_blank">
                    【Column - imToken Labs】Account Abstraction Overview in Entry Level
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/taipei-ethereum-meetup/account-abstraction-抽象帳戶-eip-3074-與-eip-4337-簡介-cb4e1f3f6864"
                    target="_blank">
                    【Column - TEM】Account Abstraction：Intro of EIP-3074 & EIP-4337 / EIP-2938
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/taipei-ethereum-meetup/%E4%BB%A5-eip-3668-%E9%80%B2%E8%A1%8C%E5%AE%89%E5%85%A8%E9%8F%88%E4%B8%8B-%E8%B7%A8%E9%8F%88%E8%B3%87%E6%96%99%E5%82%B3%E9%81%9E-22fccb10b59e"
                    target="_blank">
                    【Column - TEM】Transferring Off-Chain / Cross-Chain Data with EIP-3668
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/swf-lab/circom-snarkjs-728e4314e057"
                    target="_blank">
                    【Technical Notes - swfLAB】Circom & SnarkJS
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/@ChiHaoLu/"
                    target="_blank">
                    See more in Medium...
                </a>
            </li>
        </ul>


        <p />
        <h3>Blockchain Improvement Projects</h3>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-anchor text-warning"></i>
                <a style="color:#868e96;" href="https://ithelp.ithome.com.tw/users/20140105/ironman/5075" target="_blank">
                    Smart Contract Development Breakdown
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-anchor text-warning"></i>
                <a style="color:#868e96;" href="" target="_blank">
                    DeFi Development Breakdown (Constructing...)
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-anchor text-warning"></i>
                <a style="color:#868e96;" href="" target="_blank">
                    Smart contract Security & Practices in Foundry (Constructing...)
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-anchor text-warning"></i>
                <a style="color:#868e96;" href="" target="_blank">
                    Ethereum Scalability Research (Constructing...)
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-anchor text-warning"></i>
                <a style="color:#868e96;" href="" target="_blank">
                    Cryptography & ZKP Research (Constructing...)
                </a>
            </li>
        </ul>
    </div>
</section>