<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
    <div class="my-auto">
        <h2 class="mb-5"> Personal Output </h2>
        <h3>Column / Research / Technical Notes</h3>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;" href="https://medium.com/@ChiHaoLu/introduction-of-aztec-account-abstraction-98535c9edf2e" target="_blank">
                    【Research - imToken Labs】Account Abstraction in Layer2 - Aztec
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;" href="https://medium.com/taipei-ethereum-meetup/introduction-of-starknet-account-abstraction-2c343b561d6e" target="_blank">
                    【Research - imToken Labs】Account Abstraction in Layer2 - StarkNet
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;" href="https://medium.com/taipei-ethereum-meetup/zksync-%E4%B8%AD%E7%9A%84%E5%8E%9F%E7%94%9F-account-abstraction-%E4%BB%8B%E7%B4%B9-bc7269f8893a" target="_blank">
                    【Research - imToken Labs】Account Abstraction in Layer2 - zkSync
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;" href="https://medium.com/taipei-ethereum-meetup/starknet-介紹-full-node-與-data-dd80e799a265" target="_blank">
                    【Column - TEM】Introduction of StarkNet: Full Node and Data
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/taipei-ethereum-meetup/starknet-%E4%BB%8B%E7%B4%B9-%E9%87%8D%E9%BB%9E%E9%83%A8%E4%BB%B6-overview-4f9830527e71"
                    target="_blank">
                    【Column - TEM】Introduction of StarkNet: Overview
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;" href="https://medium.com/imtoken/account-abstraction-介紹-一-以太坊的帳戶現況-6c03c303f229"
                    target="_blank">
                    【Column - imToken Labs】Account Abstraction Overview in Entry Level
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/taipei-ethereum-meetup/account-abstraction-抽象帳戶-eip-3074-與-eip-4337-簡介-cb4e1f3f6864"
                    target="_blank">
                    【Column - TEM】Account Abstraction：Intro of EIP-3074 & EIP-4337
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/taipei-ethereum-meetup/account-abstraction-%E6%8A%BD%E8%B1%A1%E5%B8%B3%E6%88%B6-eip-2938-%E7%B0%A1%E4%BB%8B-edfd64fac767?source=list-e08b32f9faf8--------9-------9621b7777e2f---------------------"
                    target="_blank">
                    【Column - TEM】Account Abstraction：Intro of EIP-2938
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/taipei-ethereum-meetup/social-recovery-wallet-%E7%A4%BE%E4%BA%A4%E6%81%A2%E5%BE%A9%E9%8C%A2%E5%8C%85-75105c6285b2?source=list-e08b32f9faf8--------4-------9621b7777e2f---------------------"
                    target="_blank">
                    【Column - TEM】Social Recovery Wallet
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/taipei-ethereum-meetup/%E4%BB%A5-eip-3668-%E9%80%B2%E8%A1%8C%E5%AE%89%E5%85%A8%E9%8F%88%E4%B8%8B-%E8%B7%A8%E9%8F%88%E8%B3%87%E6%96%99%E5%82%B3%E9%81%9E-22fccb10b59e"
                    target="_blank">
                    【Column - TEM】Transferring Off-Chain / Cross-Chain Data with EIP-3668
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;" href="https://medium.com/swf-lab/circom-snarkjs-728e4314e057" target="_blank">
                    【Technical Notes - swfLAB】Circom & SnarkJS
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;" href="https://medium.com/@ChiHaoLu/" target="_blank">
                    See more in Medium...
                </a>
            </li>
        </ul>

        <p />
        <h3>Side Project</h3>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;" href="" target="_blank">
                    👋 *** - A private and decentralized social matching platform.
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;" href="https://github.com/SWF-Lab/DappChef-MonoRepo" target="_blank">
                    🍩 DappChef - A Ethereum Smart Contract Development Learning platform.
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;" href="https://starkatana-nft.web.app/" target="_blank">
                    🗡️ Starkatana - Launched as the NFTs collection on StarkNet in 2023.
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;" href="https://github.com/ChiHaoLu" target="_blank">
                    See more in Github...
                </a>
            </li>
        </ul>


    </div>
</section>
