<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
    <div class="my-auto">
        <h2 class="mb-5"> Personal Output </h2>
        <h3>Column / Research / Technical Notes</h3>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/taipei-ethereum-meetup/quick-look-defi-contract-testing-with-foundry-24361c23107c" target="_blank">
                    【Column - TEM】Quick Look DeFi Contract Testing With Foundry
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/taipei-ethereum-meetup/transaction-contractmethods-provider-in-dapp-cba7c8f8d599" target="_blank">
                    【Column - TEM】Transaction, ContractMethods & Provider In Dapp
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/@ChiHaoLu/how-to-test-the-smart-contract-of-iparking-nft-with-foundry-bc8bdbe6a359"
                    target="_blank">
                    【Technical Notes】How To Test The Smart Contract Of iParking NFT With Foundry
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-cube text-warning"></i>
                <a style="color:#868e96;"
                    href="https://medium.com/@ChiHaoLu/"
                    target="_blank">
                    See more in Medium...
                </a>
            </li>
        </ul>

        <p />
        <h3>Course Work</h3>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-chain text-warning"></i>
                <a style="color:#868e96;" href="https://medium.com/@ChiHaoLu/defi-final-project-zero-knowledge-proof-14bb0b28a52d"
                    target="_blank">
                    【110-2 DeFi】DeFi Final Project - Zero Knowledge Proof
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-chain text-warning"></i>
                <a style="color:#868e96;" href="https://medium.com/@ChiHaoLu/defi-summary-reserach-perpetual-protocol-v1-332e17f7e4f5" target="_blank">
                    【110-2 DeFi】Research Summary - Perppetual Protocol v1
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-chain text-warning"></i>
                <a style="color:#868e96;"
                    href="https://frolicking-nougat-cbc6ab.netlify.app/" target="_blank">
                    【110-2 DAPP】🩺 SmartAggregator
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-chain text-warning"></i>
                <a style="color:#868e96;" href="https://github.com/ChiHaoLu/Observing-Ether-Value-in-Basic-Econometrics-Method" target="_blank">
                    【110-2 Econometrics】Observing Ether Value in Basic Econometrics Method
                </a>
            </li>
            
            <li>
                <i class="fa-li fa fa-chain text-warning"></i>
                <a style="color:#868e96;" href="https://drive.google.com/file/d/1N3x6LRApAYU3qYGipHla_4TalqVIw__Z/view?usp=sharing" target="_blank">
                    【110-1 Data Science】Relationship between theft crime and geographic characteristics in Taipei
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-chain text-warning"></i>
                <a style="color:#868e96;" href="https://github.com/ChiHaoLu/" target="_blank">
                    See more in Github...
                </a>
            </li>
        </ul>

        <p />
        <h3>Blockchain Improvement Project</h3>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-anchor text-warning"></i>
                <a style="color:#868e96;" href="https://it-31d4e.web.app/READMD.html" target="_blank">
                    Smart Contract Development Breakdown
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-anchor text-warning"></i>
                <a style="color:#868e96;" href="https://defi-development-breakdown.web.app/" target="_blank">
                    DeFi Development Breakdown
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-anchor text-warning"></i>
                <a style="color:#868e96;" href="https://contract-security.web.app/" target="_blank">
                    Smart contract Security & Practices in Foundry
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-anchor text-warning"></i>
                <a style="color:#868e96;" href="https://ethereum-layer2.web.app/" target="_blank">
                    Ethereum Layer 2 & ZKP
                </a>
            </li>
        </ul>
    </div>
</section>