<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">CHI-HAO
            <span class="text-primary">LU</span>
        </h1>
        <div class="subheading mb-5">aka 0xMur**, Alfred, ALu, Eric  
            <a href="mailto:qazwsxeric@gmail.com">qazwsxeric@gmail.com</a>
        </div>
        
        <p class="mb-5">🍩 Here is a Blockchain Developer from Taiwan, currently studying in National Taiwan University. I am researching
        both Layer2(optimisticRollups, zkRollups) & ZKP to construct advanced patterns of decentralized applications,
        or even the underlying architecture of blockchain.
            <br />
            <br />Please feel free to PM for Resume or any consultancy!
            <br />Final Updated. 2023-02-24
        </p>
        <!-- 
            git add .
            git commit -m "9/10"
            git push https://github.com/ChiHaoLu/myWebsite.git
        -->
        
        <ul class="list-inline list-social-icons mb-0">
        
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/ChiHaoLu/" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/ChiHaoLu" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://medium.com/@ChiHaoLu" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://chihaolu.eth.xyz" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://mobile.twitter.com/murmurlu" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
