<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="org">
    <div class="my-auto">
        <h2 class="mb-5">Organization</h2>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">
                    <a href="https://swflab-official.web.app/" target="_blank">
                        SWF Lab
                    </a>
                </h3>
                <div class="subheading mb-3">Founder, Chef</div>
                <p>SWF Lab was born in Jun. 2022 at NTU(National Taiwan University, Taipei, Taiwan), we research everything about
                Blockchain.
                    <ul class="fa-ul mb-0">
                        <li>
                            <i class="fa-li fa fa-cube text-warning"></i>
                            <a style="color:#868e96;" href="https://dappchef.com/" target="_blank">
                                🍩 DappChef - A Ethereum Smart Contract Development Learning platform.
                            </a>
                        </li>
                        <li>
                            <i class="fa-li fa fa-cube text-warning"></i>
                            <a style="color:#868e96;" href="https://starkatana-nft.web.app/" target="_blank">
                                🗡️ Starkatana - Launched as the NFTs collection on StarkNet in 2023.
                            </a>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">06.2022 - Present</span>
            </div>
        </div>

    </div>
</section>