<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
        <h2 class="mb-5">Projects</h2>
        
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0"><a href="https://frolicking-nougat-cbc6ab.netlify.app/" target="_blank">🩺 SmartAggregator</a></h3>
                <div class="subheading mb-3">Dapp Development Tools</div>
                <p>🩺 SmartAggregator(SA) is a Blockchain Application Development Aggregator. SA is a Decentralized Application which is
                similar with Remix IDE and some other Dev. ToolsNot just the functionality of Compile, Deploy, Smart Contract Iteractive
                Area, user can do the Unit Testing and get the useful “Dapp Functionality Code” from their Smart Contract src.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2022 - 5</span>
            </div>
        </div>
        
        <div class="resume-item d-flex flex-column  flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0"><a href="https://www.drmaster.com.tw/Bookinfo.asp?BookID=MP22215" target="_blank">All In One Solidity</a></h3>
                <div class="subheading mb-3">Solidity Time!</div>
                <p>Something about basic Solidity Syntax.
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2022 - 4</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column  flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0"><a href="https://thedinomension.com/" target="_blank">Dinomention</a></h3>
                <div class="subheading mb-3">Hot NFT!</div>
                <p>Schoolmate Side project for NFT 10K project. I was responsible for Built the NFT commerce website(System Design, Construting the Minting Dapp, Smart Contract.) for client, and
                concatenate the MetaMask to the website to valid the Tokens’ own. Main Planner and Designer of every side-project,
                customer request and product. Handle most of studio’s internal affair.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2021 - 9</span>
            </div>
        </div>
    </div>
</section>