<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="records">
    <div class="my-auto">
        <h2 class="mb-5"> Records </h2>

        <h3>Rewards</h3>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                <a style="color:#868e96;" href="https://ithelp.ithome.com.tw/users/20140105/ironman/3939"
                    target="_blank">
                    【Honorable Mention】 iThome-Ironman 14th Modern Web Group
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                <a style="color:#868e96;" href="https://www.youtube.com/watch?v=veJzjB6wAZs" target="_blank">
                    【Champion】National Hot Music Contest 14th
                </a>
            </li>
        </ul>

        <p />
        <h3>Lecture / Speech / Report</h3>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-microphone text-warning"></i>
                <a style="color:#868e96;" href="https://docs.google.com/presentation/d/1hMFvUqr5-CXerXLFxx0LJ35w7DaoQPozm1m52Gznjx4/edit?usp=sharing" target="_blank">
                    【Speech: 2022/10 - "Blockchain and Big Data" in NTU CSIE】The Underlying Architecture of Dapps
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-microphone text-warning"></i>
                <a style="color:#868e96;"
                    href="https://docs.google.com/presentation/d/1sOTh4g4cQ2Xpe_j8Xj2LtRi7mkEb-8HCgwuHniVYHf0/edit?usp=sharing"
                    target="_blank">
                    【Speech: 2022/10 - "ZK Playground" in EF Grants】Circom & SnarkJS
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-microphone text-warning"></i>
                <a style="color:#868e96;" href="https://drive.google.com/drive/folders/12BEGZMBvxfBDQ3Ls4FS6mcvvRGI0_IVF?usp=sharing" target="_blank">
                    【Lecture: 2022/9 - Appworks School Blockchain Program】Giving the lecture for 6 hrs
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-microphone text-warning"></i>
                <a style="color:#868e96;" href="https://chihaolu.gitbook.io/kryptocamp-office-hour/" target="_blank">
                    【Lecture: 2022/2 - KryptoCamp】Giving the lecture for 44 hrs
                </a>
            </li>
        </ul>

        <p />
        <h3>Publishment</h3>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-book text-warning"></i>
                <a style="color:#868e96;" href="https://www.books.com.tw/products/0010928889?loc=P_0005_002" target="_blank">
                    【Book】All In One Solidity published in 2022/6
                </a>
            </li>
            <li>
                <i class="fa-li fa fa-music text-warning"></i>
                <a style="color:#868e96;" href="https://open.spotify.com/album/3Gwdf6sOZA4t8qc4jjucDM?si=ndPqglz6SqagZ3xeGoqBbA" target="_blank">
                    【Album】BusCLUB First EP《RoseRoad》 published in 2019/7
                </a>
            </li>
        </ul>

    </div>
</section>