<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0"><a href="https://github.com/consenlabs" target="_blank">imToken Labs</a></h3>
                <div class="subheading mb-3">Blockchain Developer</div>
                <p>Developing & Researching the cutting-edge Blockchain Technology & state-of-the-art Products.</p>
                <ul>
                    <li>AA Wallet Contract (Solidity), SDK (Typescript), Extension (Typescript), Paymaster (Golang)</li>
                    <li>Blockchain DevOps for CI/CD, Docker and Devnet Testing Infra (Geth, Anvil, Shell)</li>
                    <li>Cross Chain Bridge Relayer (Worker & Scheduler w/ Typescript)</li>
                    <li>Research ZK-Rollups and Account Abstraction</li>
                    <li>Tokenlon: Trusted decentralized exchange protocol (Solidity)</li>
                    <li>EIP-3668 CCIP Read: Secure offchain data retrieval</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">09.2022 - Present</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0"><a href="https://github.com/SWF-Lab/DappChef-MonoRepo" target="_blank">DappChef</a></h3>
                <div class="subheading mb-3">Executive Chef & Technology Chef</div>
                <p>Developing the Smart Contract development online coding platform.</p>
                <ul>
                    <li>Handle all affairs of System Design, Techniques and Operation</li>
                    <li>Design and Develop the Compiler & Judging System</li>
                    <li>Continuous Integration & Continuous Deployment</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">01.2023 - 06.2023</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0"><a href="https://zkplayground.tw/" target="_blank">QF Taiwan (Ethereum Foundation Grants)</a></h3>
                <div class="subheading mb-3">SmartContract & Dapp Developer Summer Intern.</div>
                <p>Developing & Researching the Quadratic Funding Platform System
                    <ul>
                        <li>Microeconomics / Quadratic Funding</li>
                        <li>Solidity with Hardhat, ethers.js</li>
                        <li>MACI / zk-Snarks</li>
                    </ul>
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">06.2022 - 08.2022</span>
            </div>
        </div>

    </div>
</section>
